{% extends 'base.html.twig' %}

{% block body %}
<div class="top-list top-list--daily">
    <h2 class="top-list__header">Dialy top list</h2>
    <ul class="top-list__list">
        <li class="top-list__entry">User One<span class="top-list__entry__value">1000,12PLN</span></li>
        <li class="top-list__entry">User Two <span class="top-list__entry__value">1000,12PLN</span></li>
        <li class="top-list__entry">User Three <span class="top-list__entry__value">1000,12PLN</span></li>
        <li class="top-list__entry">User Four <span class="top-list__entry__value">1000,12PLN</span></li>
    </ul>
</div>

<div class="top-list top-list--all-time">
    <h2 class="top-list__header">Heroes of all time</h2>
    <ul class="top-list__list">
        <li class="top-list__entry">User Four<span class="top-list__entry__value">1000,12PLN</span></li>
        <li class="top-list__entry">User One <span class="top-list__entry__value">1000,12PLN</span></li>
        <li class="top-list__entry">User Two<span class="top-list__entry__value">1000,12PLN</span></li>
        <li class="top-list__entry">User Three<span class="top-list__entry__value">1000,12PLN</span></li>
    </ul>
</div>

    <div class="poll">Loading poll...</div>

    <div class="hero-trigger">
        <button id="be-hero-btn" class="hero-trigger__button btn">Be a @#$%^ hero!</button>
        <input type="number" min="1" class="hero-trigger__multiplier form-field" name="multiplier" placeholder="x times" />
    </div>
{% endblock %}
